pytest
pre-commit
cookiecutter
mkdocs
{%- if cookiecutter.framework_if_using_python=="pytorch" -%}
pytorch
{%- elif (cookiecutter.framework_if_using_python=="pytorch" and cookiecutter.gpu_usage=="yes") -%}
pytorch-gpu
{%- elif (cookiecutter.framework_if_using_python=="tensorflow") -%}
tensorflow
{%- endif -%}

